<!DOCTYPE html>
<html lang="en">

<head>
    <title>MovieDB</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/handlebars.js"></script>
    <script src="/static/js/app.js"></script>
</head>

<body style="background-image:url(/static/img/white.jpg);background-repeat:no-repeat;background-attachment: fixed;" >
	

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MovieDB</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style = "padding-left:10px;padding-right:10px;">
		                <a href="#" id="top_rated"  class="filter-link">Top Rated</a> 
		            </li>
		            
		            <li style = "padding-left:10px; padding-right:10px">
		                <a href="#" id="popular" class="filter-link">Popular</a>
		            </li>
		            
		            <li style = "padding-left:10px; padding-right:10px">
		                <a href="#" id="now_playing" class="filter-link">Now Playing</a>  
		            </li>
		            
		            <li style = "padding-left:10px; padding-right:10px">
		                <a href="#" id="upcoming" class="filter-link" >Upcoming</a>  
		            </li>
                </ul>
                <form class="navbar-form navbar-right" role="search" id="movie-search">
                  <div class="form-group">
                    <input type="text" class="form-control typeahead" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

    </nav>

    <div class="container" style="margin-top:30px">
        
        <div id="movie-list">

            <div class="col-lg-12">
                <h1 class="page-header" style="border-bottom:1px solid black">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>

        </div>
        <hr>

        <div id="movie-view">
            
    	</div>

    </div>

    {% raw %}
    <script type="text/x-handlebars-template" id="tpl-list">
    {{#each this.result.results}}
        <div class="col-md-6 movie movie-link" data-id="{{id}}">
           
                <img width="100%" height="100%" class="img-responsive backdrop" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[3]}}{{backdrop_path}}" alt="/static/img/logo.png">
                <div class="movie-desc">
                 <a href="#">
                    <img height="100px" class="img-responsive poster" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[1]}}{{poster_path}}" alt="/static/img/logo.png">
                    <h4 class="movie-title">
                        {{title}}
                    </h4>
                </a>
                <br>
                <hr>
                <div id="{{id}}" style="float:none">
                </div> 
            </div>
            
        </div>
    {{/each}}    
    </script>
    <script type="text/x-handlebars-template" id="tpl-page">
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li {{#if startingPage}}class="disabled"{{/if}}>
                        <a href="#" data-query="{{query}}">&laquo;</a>
                    </li>
                    {{#each this.pages}}
                        <li>
                            <a href="#" class="page-link" {{#if active}}class="active"{{/if}} data-query="{{../query}}" data-id="{{page}}">{{page}}</a>
                        </li>
                    {{/each}}
                    <li {{#if endPage}}class="disabled"{{/if}}>
                        <a href="#" data-query="{{query}}">&raquo;</a>
                    </li>
                </ul>
                <div id="page-number"></div>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="tpl-movie-view">
        <div id="carousel-backdrop" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
               {{#each movie.images.backdrops}}
                <li data-target="#carousel-backdrop" data-slide-to="{{@index}}" {{#unless @index}}class="active"{{/unless}}></li>
                {{/each}}
              </ol>

              <!-- Wrapper for slides -->
             <div class="carousel-inner">
             {{#each movie.images.backdrops}}
                <div class="item{{#unless @index}} active{{/unless}}">
                    <img style="height:400px"class="carousel-img " src="{{../config.images.base_url}}{{../config.images.poster_sizes.[6]}}{{file_path}}" alt="">
                        <div class="carousel-caption">
                            <h1 class="page-header" style="border-bottom:1px solid black">{{../movie.title}}</h1>

                        </div>
                </div>
            {{/each}}
            </div>


              <a class="left carousel-control" href="#carousel-backdrop" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-backdrop" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>


            <div class="row">
                <div id="trailer">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.youtube.com/embed/{{movie.videos.results.0.key}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div id="movie-details">
                    <h3>Overview: </h3>
                    {{movie.overview}}
                    <h2>Tagline:</h2>
                        {{#if movie.tagline}} {{movie.tagline}}                   
                        {{else}} No tagline
                        {{/if}}
                   
                </div>
            </div>
            <div class="row">

                    <h3>Casts: </h3>
                     <hr>
                    {{#each_upto movie.casts.cast 4}}
                        <div class="col-md-1 casts" class="cast">
                            <img class="img-responsive" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[0]}}{{profile_path}}">
                            {{name}}
                        </div>
                    {{/each_upto}}
                    <div style="display:none">
                        {{#each_from movie.casts.cast 5}}
                            <div class="col-md-1 casts">
                                <img class="img-responsive" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[0]}}{{profile_path}}">
                                {{name}}
                            </div>
                        {{/each_from}}
                    </div>
                     <div>
                        <a href="#" onclick="togglePrevDiv(this)" class="show-hide">Show/Hide</a>
                    </div>
                    <div class="detail-container">

                    </div>    
                </div>
                <div></div>

                    <h3>Similar Movies: </h3>
                     <hr>
                    {{#each_upto movie.similar.results 4}}
                        <a class="movie-link" href="#" onclick="singleMovieQuery({{id}})">
                            <div class="col-md-1 casts" class="cast">
                                <img class="img-responsive" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[0]}}{{poster_path}}">
                                {{original_title}}
                            </div>
                        </a>
                    {{/each_upto}}
                    <div style="display:none">
                        {{#each_from movie.similar.results 5}}
                            <a href="#" class="movie-link" onclick="singleMovieQuery({{id}})">
                                <div class="col-md-1 casts">
                                    <img class="img-responsive" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[0]}}{{poster_path}}">
                                    {{original_title}}
                                </div>
                            </a>
                        {{/each_from}}
                    </div>
                     <div>
                        <a href="#" onclick="togglePrevDiv(this)" class="show-hide">Show/Hide</a>
                    </div>
                </div>    
            </div>

    </script>
    {% endraw %}
</body>

</html>
 

